/*css 2
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: left;
}

.menu {
    display: flex;
}
.login {
    list-style-type: none;
    text-align: right;

}

.login ul a {
    color: #fff;
    text-decoration: none;
}

header nav {
    text-align: center;
}
header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.producto h2 {
    margin-top: 0.5rem;
}

.producto .precio {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #555;
}