<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Commerce - ByteMart</title>
    <link rel="stylesheet" href="inicio.css">
</head>
<body>
<header>
    <div class="menu">
        <div class="title">
            <img src="imagen/logo.jpg" alt="logo">
            <h1>ByteMart</h1>
        </div>
    </div>
    <div class="login">
        <ul>
            <a href="index.html">login</a>
        </ul>
    </div>
    <nav>
        <a href="#"><input type="text" id="buscar-producto" placeholder="Buscar productos"></a>
        <ul>
            <li><a href="#">Computadores</a></li>
            <li><a href="#">Impresoras</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Tables y celulares</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="Computadores">
        <h2>Computadores</h2>
        <div class="producto">
            <img src="imagen/logo ByteMart.png" alt="disco">
            <h2>disco</h2>
            <p class="precio">$30.000</p>
            <button>Agregar al carrito</button>
        </div>
        <div class="producto">
            <img src="imagen" alt="ram">
            <h2>ram</h2>
            <p class="precio">$30.000</p>
            <button>Agregar al carrito</button>
        </div>
        <section id="Impresoras">
            <h2>Impresoras</h2>
        </section>
        <section id="Accesorios">
            <h2>Accesorios</h2>
        </section>
        <section id="Tables y celulares">
            <h2>Tables y celulares</h2>
        </section>

</main>
<script src="script.js"></script>
<footer>
    <p>&acd; Jairo</p>
</footer>
</body>
</html>