<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/terminos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/img/Logo%20ByteMart.ico"/>
    <title>Terminos y condiciones ByteMart </title>

</head>

<header>
    <div class="logo">
        <img src="../../static/img/Logo%20ByteMart.png" height="100" width="100"/>
    </div>
    <div class="menu">
        <h1>ByteMart</h1>
    </div>
    <h1>Términos y Condiciones de ByteMart</h1>
</header>

<body>

<div class="container">
    <div class="terms">
        <p>Bienvenido a ByteMart, tu destino en línea para productos tecnológicos de calidad. Antes de utilizar nuestros servicios, por favor, lee atentamente los siguientes términos y condiciones.</p>

        <h2>1. Aceptación de los Términos</h2>
        <p>Al acceder o utilizar nuestro sitio web, aceptas cumplir y estar legalmente obligado por estos términos y condiciones. Si no estás de acuerdo con alguna parte de estos términos, por favor, no utilices nuestros servicios.</p>

        <h2>2. Uso del Sitio</h2>
        <p>Tienes permitido utilizar nuestro sitio web para propósitos legítimos y de acuerdo con estos términos y condiciones. No debes utilizar nuestro sitio web de ninguna manera que cause daño o interrupción del servicio.</p>

        <h2>3. Privacidad</h2>
        <p>Tu privacidad es importante para nosotros. Consulta nuestra <a href="#">Política de Privacidad</a> para comprender cómo recopilamos, utilizamos y protegemos tu información personal.</p>

        <h2>4. Productos y Precios</h2>
        <p>Nos esforzamos por proporcionar información precisa sobre nuestros productos, incluyendo descripciones, precios y disponibilidad. Nos reservamos el derecho de modificar o discontinuar cualquier producto sin previo aviso.</p>

        <h2>5. Compras y Pagos</h2>
        <p>Al realizar una compra en ByteMart, aceptas pagar todos los cargos incurridos, incluidos los impuestos aplicables y los gastos de envío. Nos reservamos el derecho de rechazar cualquier pedido que consideremos fraudulento o inapropiado.</p>

        <h2>6. Garantía y Devoluciones</h2>
        <p>Todos nuestros productos están respaldados por garantías específicas del fabricante. Consulta los detalles de la garantía de cada producto antes de comprar. Se aplican términos y condiciones específicos para devoluciones y reembolsos. Consulta nuestra <a href="#">Política de Devoluciones</a> para obtener más información.</p>

        <h2>7. Propiedad Intelectual</h2>
        <p>Todo el contenido presente en nuestro sitio web, incluyendo texto, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y otras leyes de propiedad intelectual. No debes copiar, modificar, distribuir o utilizar nuestro contenido sin autorización previa por escrito.</p>

        <h2>8. Ley Aplicable</h2>
        <p>Estos términos y condiciones se rigen por las leyes de [país] y cualquier disputa relacionada con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales de [ciudad, país].</p>

        <p>Gracias por elegir ByteMart. Si tienes alguna pregunta sobre estos términos y condiciones, no dudes en ponerte en contacto con nuestro equipo de atención al cliente.</p>
    </div>
</div>

</body>

</html>